*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	color: #6F6F6F;
	font-family: Open sans, sans-serif;
	background-color: #fff;
    line-height: 19px;
    font-size: 1.4rem;
    min-width: 320px
}

h1 {
	font-family: Roboto Slab;
	font-weight: bold;
	font-size: 5rem;
	line-height: 73px;
	letter-spacing: 0.34em;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 0;
}
	
h2 {
	font-family: Roboto Slab;
	font-weight: bold;
	font-size: 5rem;
	line-height: 73px;
	letter-spacing: 0.34em;
	text-transform: uppercase;
	color: #2C3338;
	margin-bottom: 20px;
}

h3 {
	font-weight: bold;
	font-size: 2rem;
	line-height: 27px;
	text-transform: uppercase;
	color: #44535F;
	margin: 10px 0 3px;
}

h4 {
	font-weight: bold;
	font-size: 2rem;
	line-height: 26px;
	color: #008CFF;
	margin: 10px 0;

}

.header_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: url(../img/header_image.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	padding-top: 2.5%;
}

.image {
	display: inline-block;
	margin: 8px;
}

.header_menu {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	width: 90%;
	margin-bottom: 6.5%;
}

.burger {
	height: 25px;
	width: 77px;
}

.burger:hover .burger_top {
	background-color: #008CFF;
	transition: all 0.2s ease-out;
}

.burger_top {
    background-color: #FD553A;
    height: 5px;
    width: 77px;
    position: absolute;
}

.burger_top::before {
	content: " ";
	background-color: #FD553A;
    height: 5px;
    width: 100%;
    position: absolute;
    margin-top: 10px;
}

.burger_top::after {
	content: " ";
	background-color: #FD553A;
    height: 5px;
    width: 100%;
    position: absolute;
    margin-top: 20px;
}

.burger_top:hover:after {
	background-color: #008CFF;
	transition: all 0.2s ease-out;
}

.burger_top:hover:before {
	background-color: #008CFF;
	transition: all 0.2s ease-out;
}

.burger_top:hover {
	background-color: #008CFF;
	transition: all 0.2s ease-out;
}

.header_icons {
	display: flex;
	justify-content: space-between;
}

.header_icons >*:not(:first-child) {
	margin-left: 24px;
}

.menu_search {
	width: 26px;
	height: 26px;
	background: url(../img/search.png) no-repeat center; 
	transform: scale(0.9);
}

.menu_calendar {
	width: 25px;
	height: 25px;
	background: url(../img/calendar.png) no-repeat center; 
	transform: scale(0.9);
}

.menu_profile {
	width: 25px;
	height: 25px;
	background: url(../img/profile.png) no-repeat center; 
	transform: scale(0.9);
}

.menu_search:hover {
	transform: scale(1);
	transition: all 0.2s ease-out;
}

.menu_calendar:hover {
	transform: scale(1);
	transition: all 0.2s ease-out;
}

.menu_profile:hover {
	transform: scale(1);
	transition: all 0.2s ease-out;
}

.main_text_wrapper {
	max-width: 1140px;
	width: 90%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 233px;
}

.main_text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	font-size: 1.8rem;
	line-height: 26px;
}

.main_text > * {
	margin-bottom: 20px;
}

.main_text p span {
	font-style: italic;
	display: block;
}

.about {
	max-width: 350px;
}

.about p span {
	display: block;
	font-style: normal;
}

.main_text h1 span {
	font-style: normal;
	letter-spacing: 0em;
	color: #fff;
}

.show_bill_btn {
	border: 4px solid #FFFFFF;
	font-weight: bold;
	font-size: 2rem;
	line-height: 27px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 14px 53px;
	background: rgba(0, 0, 0, 0.15); 
	margin-top: 15px;
}

.show_bill_btn:hover {
	border: 4px solid #FD553A;
	color: #FD553A;
	background: rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease-out;
}

.main_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.main_wrapper section {
	margin-top: 128px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
    width: 90%;
}

.tools {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 15px;
}

.left_tls {
	font-size: 2rem;
}

.custom-select {
  position: relative;
  font-size: 1.4rem;
  display: inline-block;
  width: 150px;
  margin-left: 10px;
}

.custom-select select {
  display: none; 
}

.select-selected {
  background-color: #008CFF;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 8px;
  right: 14px;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
}

.select-selected.select-arrow-active:after {
  top: 12px;
  transform: rotate(225deg);
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 3px 10px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #008CFF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #FD553A;
}

.tools_btn_lft {
	display: inline-block;
	margin-left: 18px;
	font-size: 1.4rem;
	color: #fff;
	padding: 3px 14px;
	background: #008CFF;
	text-decoration: none;
}

.tools_btn_lft::after {
	content: " ";
	width: 7px;
	height: 7px;
	border-top: 1px solid #FFFF;
	border-left: 1px solid #FFFF;
	display: inline-block;
	margin-left: 8px;
	transform: rotate(225deg);
	margin-bottom: 2px;
}

.tools_btn_lft:hover {
	background: #FD553A;
}

.tools_btn_rght {
	color: #008CFF;
	text-decoration: none;
}

.tools_btn_rght::after {
	content: " ";
	width: 7px;
	height: 7px;
	border-top: 1px solid #008CFF;
	border-left: 1px solid #008CFF;
	display: inline-block;
	margin-left: 5px;
	transform: rotate(135deg);
}

.tools_btn_rght:hover {
  color: #FD553A;
}

.tools_btn_rght:hover:after {
	border-top: 1px solid #FD553A;
	border-left: 1px solid #FD553A;
	color: #FD553A;
}

.in_cinema {
	position: relative;
	width: 100%;
	text-align: center;
}

.circle_left {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #C8C8C8;
	top: 37%;
	transform: translateY(-50%);
	left: 0;
}

.arrow_left {
	width: 11px;
	height: 11px;
	border-bottom: 2px solid #44535F;
	border-left: 2px solid #44535F;
	display: inline-block;
	transform: rotate(45deg);
	position: relative;
	top: 25%;
	left: 5%;
}

.circle_left:hover .arrow_left {
	border-bottom: 2px solid #C8C8C8;
	border-left: 2px solid #C8C8C8;
}

.circle_right {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #FD553A;
	top: 37%;
	transform: translateY(-50%);
	right: 0;
}

.arrow_right {
	width: 11px;
	height: 11px;
	border-bottom: 2px solid #44535F;
	border-left: 2px solid #44535F;
	display: inline-block;
	transform: rotate(225deg);
	position: relative;
	top: 25%;
	right: 5%;
}

.circle_right:hover .arrow_right {
	border-bottom: 2px solid #FD553A;
	border-left: 2px solid #FD553A;
	transition: all 0.2s ease-out;
}

.poster {
	display: inline-block;
	text-decoration: none;
	color: #6F6F6F;
	text-align: left;
}

.image:hover {
	color: #FD553A;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.image:hover h3{
	color: #FD553A;
	transition: all 0.1s ease-out;
	cursor: pointer;
}

.posters figcaption {
	text-align: left;
}

.posters_pages {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 14%;
	margin-top: 20px;
	min-width: 170px;
}

.page_1 {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #FD553A;
	font-size: 2rem;
	line-height: 40px;
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
}

.page {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #44535F;
	font-size: 2rem;
	line-height: 23px;
	color: #44535F;
	display: inline-block;
}

.page:hover {
	background: #FD553A;
}

.news {
	width: 100%;
	margin-top: 22px;
}

.big_news {
	text-align: left;
}

.big_topic:hover h4 {
	color: #FD553A;
}

.big_topic {
	display: inline-block;
	text-decoration: none;
	color: #6F6F6F;
	text-align: left;
	width: 256px;
	vertical-align: top;
}

.big_news > *:not(:last-child) {
	margin-right: 30px;
}

.small_news {
	margin-top: 35px;
}

.small_topic {
	width: 256px;
	display: inline-block;
	margin-right: 30px;
	text-decoration: none;
	color: #008CFF;
	vertical-align: top;
}

.small_topic p {
	float: right;
	width: 122px;
}

.small_topic:hover p {
	color: #FD553A;	
}

.all_news {
	display: inline-block;
	border: 4px solid #008CFF;
	color: #008CFF;	
	font-weight: bold;
	font-size: 2rem;
	line-height: 35px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 31px 46px;
	text-decoration: none;
}

.all_news:hover {
	border: 4px solid #FD553A;
	color: #FD553A;
	transition: all 0.2s ease-out;
}

.footer_wrapper {
	margin-top: 128px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: #44535F;
	color: #fff;
	padding: 40px;
}

.footer_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	width: 90%;
	text-align: left;
	border-bottom: 1px solid #fff; 
	padding-bottom: 23px;
	margin-bottom: 20px;
}

.circle_up {
	display: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.arrow_up {
	width: 11px;
	height: 11px;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	display: inline-block;
	transform: rotate(135deg);
	position: relative;
	top: 30%;
	left: 34%;
}

.f_m_btns {
	line-height: 30px;
	list-style: none; 
	margin: 0; 
	padding-left: 0; 
}

.f_m_btns a {
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 10px 0; 
}

.f_m_btn:hover {
	color: #FD553A;
}

.telegram {
	width: 24px;
	height: 24px;
	background: url(../img/Telegram.png) no-repeat center; 
	transform: scale(0.9);
}

.telegram:hover {
	transform: scale(1);
	transition: all 0.2s ease-out;
}

.instagram {
	width: 24px;
	height: 24px;
	background: url(../img/Instagram.png) no-repeat center; 
    margin: 21px 0;
    transform: scale(0.9);
}

.instagram:hover {
	transform: scale(1);
	transition: all 0.2s ease-out;
}

.vk {
	width: 24px;
	height: 24px;
	background: url(../img/Vk.png) no-repeat center; 
	transform: scale(0.9);
}

.vk:hover {
	transform: scale(1);
	transition: all 0.2s ease-out;
}

.footer_wrapper p {
	line-height: 48px;
	text-align: center;
}


/*----------------------------------  @MEDIA  ----------------------------------*/

@media screen and (max-width: 1249px) {

	.in_cinema {
		width: 790px;
	}

	.image {
	    margin: 8px 8px 40px 8px;
	}

	.main_text_wrapper {
		margin-bottom: 100px;
	}

	.main_text {
		padding: 65px;
		background: rgba(0, 0, 0, 0.4); 
	}

	.big_news {
		margin: 0 auto;
		width: 590px;
	}

	.big_topic {
		margin: 0 18px 35px;
	}

	.big_news > *:not(:last-child) {
		margin-right: 0;
	}

	.small_news {
		margin: 15px auto 0;
		width: 590px;
	}

	.small_topic {
		margin: 0 18px 30px;
	}

	.all_news {
		margin: 0 18px 30px;
	}

}

@media screen and (max-width: 878px) {
	
	.in_cinema {
		width: 100%;
    }

	.select-items div {
		padding: 14px 10px;
	}

}	

@media screen and (max-width: 689px) {

	.main_text_wrapper {
		display: block;
	}	

	.main_wrapper section {
		margin-top: 100px;
	}

	.in_cinema {
		width: 525px;
	}

	.posters {
		margin-top: 20px;
	}

	.posters > *:not(:first-child) {
		display: none;
	}

	.image {
		margin: 0;
	}

	.big_news {
		width: 295px;
	}

	.small_news {
		width: 295px;
	}

	.small_news > *:not(:last-child) {
		display: none;
	}

	.footer_menu > * {
		display: none;
	}

	.circle_up {
		display: inline-block;
	}

	.mf_menu {
		display: inline-block;
	}

	.sf_menu {
		display: inline-block;
	}

	.social {
		display: inline-block;
	}
}

@media screen and (max-width: 583px) {

	html {
		font-size: 7px;
	}

	h3 {
		margin: 0;
	}

	h4 {
		line-height: 22px;
		margin: 5px 0;
	}

	.main_wrapper section {
		margin-top: 80px;
	}

	.main_text {
		font-size: 2rem;
	}

	.in_cinema {
		width: 100%;
	}

	.custom-select {
		width: 100px;
	}

	.news {
		font-size: 1.7rem;
		margin-top: 0;
	}

	.big_topic {
		margin: 0 18px 25px;
	}

	.all_news {
		padding: 10px 69px;
	}

	.f_m_btns {
		font-size: 1.8rem;
	}

	.arrow_up {
		top: 35%;
	}

	.footer_wrapper {
		margin-top: 60px;
	}
}

@media screen and (max-width: 499px) {

	h1 {
		padding-top: 35px;
		font-size: 4.5rem;
		margin-bottom: 25px;
		line-height: 36px;
	}

	.main_wrapper section {
		margin-top: 40px;
	}

	.tools {
		margin-bottom: 0;
	}

	.tools_btn_lft {
		margin-left: 0;
	}

	.main_text {
		line-height: 23px;
		padding: 0 40px 40px;
	}

	.arrow_up {
		left: 33%;
	}
	
	.sf_menu {
		display: none;
	}

}

@media screen and (max-width: 399px) {


	.main_text_wrapper {
		width: 100%
	}

	.main_text_wrapper {
		
}

	.main_text {
		padding: 0px 15px 40px;
	}

	.custom-select {
		width: 87px;
		margin-left: 0;
	}

	.select-selected::after {
		top: 5px;
	}

	.select-selected.select-arrow-active::after {
	    top: 9px;
	}

	.select-selected {
		padding: 0px 5px;
	}

	.select-items div {
		padding: 14px 5px;
	}

	.poster {
		width: 170px;
	}

	.poster img {
		max-width: 100%;
	}
}

